{% extends 'needs/ieltshomefaculty.html' %}
{% block title %}
PROJECT | Student
{% endblock %}
{% block content %}

<div class="topofpage">
    <div class="grid-container">
        <div class="pagehead">
            Pending Check Task 1 General
        </div>
    </div>
</div>
<div class="tlarge">
    <div class="table_area col-12 col-md-12 col-sm-12 col-lg-12">
        <table class="table_body table-hover">
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Student</th>
                    <th>Question</th>
                    <th>Time Submitted</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for answer in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <th>{{ answer.student_key.user_key.get_full_name }}</th>
                    <td class="quesec">{{ answer.question }}</td>
                    <th>{{ answer.timestamp }}</th>
                    <td>
                        <form action="{% url 'ielts:checking_task_one_general' request.user.faculty.coaching_class_key.user_key.username %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="answerid" value="{{ answer.id }}">
                            <input type="submit" Class="btn1 btn1hover" name="start" value="start">
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No Task to check for you hardworker</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% for answer in object_list %}
<div class="smtable_area col-12 col-md-12 col-sm-12 col-lg-12">
    <table class="table_body table-hover">
        <tbody>
            <tr>
                <td colspan="2">{{ answer.question }}</td>
            </tr>
            <tr>
                <th>Student</th>
                <th>{{ answer.student_key.user_key.get_full_name }}</th>
            </tr>
            <tr>
                <th>Time Submitted</th>
                <th>{{ answer.timestamp }}</th>
            </tr>
            <tr>
                <th>Action</th>
                <td>
                    <form action="{% url 'ielts:checking_task_one_general' request.user.faculty.coaching_class_key.user_key.username %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="answerid" value="{{ answer.id }}">
                        <input type="submit" Class="btn1 btn1hover" name="start" value="start">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% empty %}
<div class="smallsize centr">
    No Task to check for you hardworker
</div>
{% endfor %}
<div class="pagesno">
    {% if page_obj.has_previous %}
    <div class="first">
        <a href="?page=1"> First</a>
    </div>
    <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
    {% endif %}
    <span class="current">
        &nbsp; Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}. &nbsp;
    </span>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
    <div class="last">
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    </div>
    {% endif %}
</div>

{% endblock %}