{% extends my_template %}
{% block title %}
Change Password
{% endblock %}

{% block content %}
<div class="centr">
    {% if error %}
    {{ error|safe }}
    <br>
    {% endif %}
    {% if message %}
    {{ message|safe }}
    {% endif %}
</div>

{% if is_coaching_class %}
<form action="{% url 'ielts:change_password' request.user %}" method="Post">
    {% elif is_faculty %}
    <form action="{% url 'ielts:change_password' request.user.faculty.coaching_class_key.user_key.username %}" method="Post">
        {% elif is_student %}
        <form action="{% url 'ielts:change_password' request.user.student.faculty_key.coaching_class_key.user_key.username %}" method="Post">
            {% endif %}

            {% csrf_token %}

            <div class="addmanyform overhid">
                <div class="formlabel col-12 col-md-4 col-sm-12">
                    Old Password
                </div>
                <div class="first col-12 col-md-6 col-sm-12">
                    <input type="password" name="oldpassword" required="required">
                </div>
                <div class="formlabel col-12 col-md-4 col-sm-12">
                    New Password
                </div>
                <div class="first col-12 col-md-6 col-sm-12">
                    <input type="password" name="passwordnew" required="required">
                </div>
                <div class="formlabel col-12 col-md-4 col-sm-12">
                    One More Time
                </div>
                <div class="first col-12 col-md-6 col-sm-12">
                    <input type="password" name="passwordagain" required="required">
                </div>

            </div>
            <div class="centr">
                <button class="btn1 btn1hover">Change Password</button>
            </div>
        </form>

        {% endblock %}